<div [ngSwitch]="viewType" style="display: flex; height: 100vh">
<mat-card *ngSwitchCase="'login'" style="display: grid; width: 300px; margin:auto;">
  <p appHighlight>Welcome!</p>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>E-mail</mat-label>
    <input matInput type="email" [(ngModel)]="emailValue">
    <button *ngIf="emailValue" matSuffix mat-icon-button aria-label="Clear" (click)="emailValue=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="passwordValue">
    <button *ngIf="passwordValue" matSuffix mat-icon-button aria-label="Clear" (click)="passwordValue=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button color="accent" mat-raised-button (click)="onLogin()">Login</button>
  <mat-label (click)="onShow()">Create an account!</mat-label>
</mat-card>

<mat-card *ngSwitchCase="'register'" style="display: grid; width: 300px; margin:auto;">
  <p>Create an account:</p>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>E-mail</mat-label>
    <input matInput type="email" [(ngModel)]="emailValue">
    <button *ngIf="emailValue" matSuffix mat-icon-button aria-label="Clear" (click)="emailValue=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <!--[ngClass]="{true: 'example-form-field'}"-->
  <mat-form-field  class="example-form-field" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="passwordValue">
    <button *ngIf="passwordValue" matSuffix mat-icon-button aria-label="Clear" (click)="passwordValue=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" [(ngModel)]="RePasswordValue">
    <button *ngIf="RePasswordValue" matSuffix mat-icon-button aria-label="Clear" (click)="RePasswordValue=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button color="accent" mat-raised-button (click)="onRegister()">Register!</button>
  <mat-label (click)="onShow()">Back to login</mat-label>
</mat-card>
<p *ngSwitchDefault>Acesta este cazul default!</p>
</div>
