<mat-card style="display: grid; width: 300px;">
  <p>Add-Edit-Delete-Movie</p>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput type="text" [(ngModel)]="title">
    <button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput type="text" [(ngModel)]="description">
    <button *ngIf="description" matSuffix mat-icon-button aria-label="Clear" (click)="description=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Year</mat-label>
    <input matInput type="numeric" [(ngModel)]="year">
    <button *ngIf="year" matSuffix mat-icon-button aria-label="Clear" (click)="year=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Director</mat-label>
    <input matInput type="text" [(ngModel)]="director">
    <button *ngIf="director" matSuffix mat-icon-button aria-label="Clear" (click)="director=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button style="margin-bottom: 16px;" color="accent" mat-raised-button (click)="onSave()">Save</button>
  <button style="margin-bottom: 16px;" color="accent" mat-raised-button (click)="onDelete()">Delete</button>
  <button style="margin-bottom: 16px;" color="accent" mat-raised-button (click)="onClear()">Clear</button>
  <mat-label>Create an account!</mat-label>
</mat-card>
