<button (click)="getMovies()">Get Movies</button>
<div *ngIf="false">
  <p *ngFor="let movie of movies; index as i">
    <!-- let i = index ne permite sa folosim indexul ca si in cazul unui for normal -->

    {{movie.title}} - {{i}} <!-- afiseaza (continutul lui movie) valoarea in html prin data binding -->
    <span *ngFor="let mv of movies">{{mv.title}}</span>
  </p>
</div>

<mat-card *ngFor="let movie of movies;" (click)="onSelectMovie(movie)" class="movie-card" [ngStyle]="{'background-color':movie.id == selectedMovie?.id ? 'green' : 'red' }">
  <mat-label class="movie-title">{{movie.title}}</mat-label>
  <mat-label class="movie-description">{{movie.description}}</mat-label>
  <mat-label class="movie-year">{{movie.year}}</mat-label>
  <mat-label class="movie-director">{{movie.director}}</mat-label>
</mat-card>

<app-add-edit-delete-movie (clear)="selectedMovie = null" [movie]="selectedMovie"></app-add-edit-delete-movie>
